.parent-carrousel{
    width: 100%;
    height: 415px;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    @include center;

   
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 25px;
            margin-bottom: 20px;
            
          }
    .prev-next{
        font-size: 65px;
        color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:hover{
            cursor: pointer;
        }

    }
    .image-hidden {
        display: none;
    }
    .prev{
        left: 20px;
    }
    .next{
        right:20px;
    }

    .numerotation{
        position: absolute;
        bottom: 20px;
        color: white;
        font-size: 18px;
    }

    @media (max-width: 375px) {
        height: 255px;
        .prev-next{
            font-size: 35px;
        }
        .prev{
            left:0px;
        }
        .next{
            right:0px;
        }
        .numerotation{
            bottom: 10px;
        }

    }
    
}