header{
    width: auto 100%;
    margin: 40px 100px 60px 100px;
   
    @include centerVertical;

    
    .nav{
        float: right;
        height: 34px;
        width: 309px;
        @include centerVertical;

        @media (max-width: 375px) {
            width: 140px;
            height: 17px;
            font-size: 12px;
          }
    }


    @media (max-width: 375px) {
       margin: 20px;
     

      }
}