main.page-a-propos{
    max-width: 1240px;
    margin: auto;
    @include centerColumn;
    
   
    @media (max-width: 375px) {

        margin-left: 20px;
        width: 90%;
        
        
       

      }
}
