.mainErreur{
    width: 90%;
    margin: auto;
    text-align: center;
    
    .erreur404{
        width: 60%;
        margin: auto;
        p{
            font-weight: 700;
            font-size: 288px;
        }
    }
    .p-message{
        font-size: 36px;
        font-weight: 500;
        margin: auto;
        
    }
    .p-redirection{
        font-size: 18px;
        font-weight: 500;
        margin-top: 80px;
        margin-bottom: 120px;
        text-decoration: underline;
    }

    @media (max-width: 1024px) {
        width: 100%;
        .erreur404{
            margin-top: 50px;
           p{
            font-size: 190px;
           }
        } 
        .p-message{
            width: 80%;
            font-size: 26px;
        }

    }
    @media (max-width: 600px) {
        .erreur404{
            margin-top: 100px;
           p{
            font-size: 115px;
           }
        } 
        .p-message{
            font-size: 20px;
        }

    }
    @media (max-width: 375px) {

        .erreur404{
            margin-top: 150px;
            p{
                font-size: 80px;
            }
        }
        .p-message{
            font-size: 18px;
            margin-bottom: 130px;
        }
        .p-redirection{
            font-size: 14px;
        }
    }
}