*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

$color1: #FF6060;
$color2: #F6F6F6;
$color3: #C4C4C4; 

h1{
    font-family: Montserrat;
    font-weight: 500;
}
p{
    font-family: Montserrat;
    font-weight: 400;
    color: $color1;
    line-height: 142.6%;
}
li{
    list-style-type: none;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 17.11px;
}
a{
    text-decoration: none;
    color: $color1;
}
@mixin centerVertical{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin centerColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}